<div class="row">
    <iframe class="col-sm-12"
        style="height:700px"
        src="//player.bilibili.com/player.html?aid=721047884&bvid=BV11Q4y1B7V2&cid=423993614&page=1" 
        scrolling="no" border="0" frameborder="no" framespacing="0" allowfullscreen="true"
    > </iframe>
</div>
<div class="row">
    <div class="col-sm-12">
        <!--Title and Logo-->
        <section class="main">
            <% page.posts.forEach(function(item, index) { %>
                <%- partial('_partial/article-short', {item: item, index: index}) %>
                    <% }); %>
        </section>
    </div>
</div>

<%- partial('_partial/pagination') %>