
<%
    var tags = [];
    var related_posts = [];
     var default_tag = null;
    if(page.tags && page.tags.length) {
        
        page.tags.forEach(function(tag){
            if(default_tag == null){
                 default_tag = tag;
            }
            tags.push('<a href="' + config.root + tag.path + '">' + tag.name + '</a>');
        });
    }
    if(default_tag != null){
        default_tag.posts.forEach(function(post) { 
            related_posts.push({
                title: post.title,
                url: (post.path)
            }) })
    }
     

%>
    
        
<div class="row">
    
    <div class="col-md-9 col-sm-12">
        <!--Title and Logo-->
        <section class="main">
            <%- partial('_partial/article-long', {item: page}) %>
        </section>
    </div>

    <!-- rightside -->
    <div class="col-md-3 col-sm-12 rightside">
        <%- partial('_partial/post-right-side', {item: page}) %>
    </div>
</div>
