
<%
    var tags = [];
    var related_posts = [];
     var default_tag = null;
    if(page.tags && page.tags.length) {
        
        page.tags.forEach(function(tag){
            if(default_tag == null){
                 default_tag = tag;
            }
            tags.push('<a href="' + config.root + tag.path + '">' + tag.name + '</a>');
        });
    }
    if(default_tag != null){
        default_tag.posts.forEach(function(post) { 
            related_posts.push({
                title: post.title,
                url: (post.path)
            }) })
    }
     

%>
    
        
<div class="row">
    
    <div class="col-md-9 col-sm-12">
        <!--Title and Logo-->
        <section class="main">
            <%- partial('_partial/article-long', {item: page}) %>
        </section>
        <section>
                <div class="content" style="color: #d7ecff">
                <h3 id="xingqiu"><a href="#星球" class="headerlink" title="星球"></a>统计咨询</h3>
                <p>统计咨询请加入我的星球,有问必回</p> 
                <p>加入星球向我提问(必回),下载资料,数据,软件等</p>
                <p><img src="/img/知识星球优惠券.png" class="img-thumbnail" style="width: 238px; height: 302px;"><img src="/img/知识星球.jpg" class="img-thumbnail" style="width: 238px; height: 302px;"></p>
            </div>
        </section>
        <section>
            <div class="content" style="color: #d7ecff">
                <h3 id="赞助"><a href="#赞助" class="headerlink" title="赞助"></a>赞助</h3>
                <p>持续创造有价值的内容, 我需要你的帮助</p>
                <p><img src="/img/收款二维码.png" class="img-thumbnail"></p>
            </div>
        </section>


    </div>

    <!-- rightside -->
    <div class="col-md-3 col-sm-12 rightside">
        <%- partial('_partial/post-right-side', {item: page}) %>
    </div>
</div>

