.changyan-comments
.rightside
    *
        box-sizing: content-box;
        -moz-box-sizing: content-box;
        -webkit-box-sizing: content-box;
    margin-top: 50px;
    ul 
        list-style:none;
        padding-left:0px;
    .type-lists
    .type-list
        float: left;
        width: 66px;
        height: 29px;
        text-align: center;
        color: #4398ed;
        font-size: 16px;
        border-bottom: 1px solid #4398ed00;
        background: url(https://changyan.itc.cn/mdevp/extensions/cmt-list/061/images/cmtlist-bg.png) no-repeat;
        background-position: top left;
        font-family: "Microsoft Yahei";
        line-height: 30px;
    div,ul,li
        border: 0;
        margin: 0;
        padding: 0;
        font-size: 100%;
        text-align: left;
        vertical-align: baseline;
        background-image: none;
        background-position: 0 0;
        width: auto;
        float: none;
        overflow: visible;
        text-indent: 0;



    .module-cmt-list 
    .cmt-list-type 
    .cmt-list-border 
        position: relative;
        bottom: 1px;
        height: 30px;
        background-color: #4398ed00;
    .cmt-list-border 
        border-bottom: 1px;
        border-bottom-style: solid;
        border-bottom-color: #4398ed;
        left: 66px;



    .module-cmt-list .cmt-list-type 
        line-height: 30px;
        height: 30px;
        position: relative;
        margin-top: 50px;
        overflow: hidden;


    .module-cmt-list 
    .cmt-list-type 
    .type-lists 
    .active 
        background: url(https://changyan.itc.cn/mdevp/extensions/cmt-list/061/images/cmtlist-bg-active.png) no-repeat;
        position: relative;
        bottom: -1px;
    
    .module-cmt-list 
    .cmt-list-type 
        line-height: 30px;
        height: 30px;
        position: relative;
        margin-top: 50px;
        overflow: hidden;

    .clear-g
        zoom: 1;
    

    .module-cmt-list, .cmt-list-type 
        line-height: 30px;
        height: 30px;
        position: relative;
        margin-top: 50px;
        overflow: hidden;

    .cmt-list-number 
        position: absolute;
        right: 0;
        bottom: 0;
        color: #4398ed;
        font-size: 14px;
        font-family: "Microsoft YaHei";

    .cy-number 
        color: #4398ed;
        font-size: 20px;
        margin: 0 5px;
        font-family: Impact;

    .cmt-list-content
        border-color: #404040;
        padding: 13px 0 11px;
    .user-head
        position: relative;
        z-index: 1;
        float: left;
        width: 42px;

    .module-cmt-list 
    .block-cont-gw 
    .cont-head-gw 
    .head-img-gw 
        padding: 7px 0 0;
        width: 42px;
        height: 42px;
        overflow: hidden;
    .cont-head-gw 
    .head-img-gw img 
        width: 42px;
        height: 42px;
        border-radius: 42px;
    .module-cmt-list 
    .block-cont-gw 
    .msg-wrap-gw
        padding: 0 0 0 62px;
    .msg-wrap-gw
        position: relative
        .hidden
            display: none;
    .module-cmt-list 
    .wrap-user-gw 
    .user-time-gw
        padding: 5px 0 0;
        font-family: Arial;
        color: silver;
    .user-time-gw
        float: right;
    .wrap-user-gw 
        float: left;
    
    .module-cmt-list 
    .wrap-user-gw 
    .user-name-gw 
        display: contents;
        padding: 5px 7px 0 0;
        cursor: default;
    .user-name-gw a 
        color: #4398ed;
    .user-address-gw
    .user-name-gw a
    .user-time-gw
        font-size: 12px;
    .user-address-gw
    .user-name-gw
        display: inline-block;
        padding: 5px 7px 0 0;
        cursor: default;
    .issue-wrap-gw
        line-height: 22px;
        font-size: 14px;
        color: #fff;
    .wrap-issue-gw
        padding: 12px 0 0;
    .wrap-word-gw
        display: inline
    p 
        word-wrap: break-word;
    .wrap-user-gw.hidden
        display: none;


