header
  padding-top 20px
  .logo
    a, a:link, a:visited, a:active
      border-bottom none
    margin-left 200
    // text-align left
    .logo-icon
      font-size 40px
      color $mainColor1
      text-shadow $titleTextShadow
      padding-left 35px
    img
      width 100px
      height 100px
      border-radius 50%
    .title
      // line-height 100px
      color $mainColor1
      font-family $fontTitle
      text-shadow $titleTextShadow