.rightside
    margin-top: 100px
    transition: none!important;
    top: 0;
    bottom: 0;
    z-index: 1;
    overflow-y: auto;
    overflow-x: hidden;
    color: #d7ecff;
    border-right: 1px solid rgba(0,0,0,.07);
    
    .related-posts
        background-color: #17303721;
        margin-top: 50px;
        margin-bottom: 25px;