<!--PC版畅言-->
<% if(item){
    var sid = item.path;
}else{
    var sid = config.root;
}

%>
<div class="container"><div id="SOHUCS" sid="<%- sid %>"></div>
<script charset="utf-8" type="text/javascript" src="https://changyan.sohu.com/upload/changyan.js" ></script>
<script type="text/javascript">
window.changyan.api.config({
appid: 'cysqnjGqk',
conf: 'prod_023698c59c1b0d0e29687979a2d2e9a3'
});
setInterval(()=>{
    $('#closePoPBD').click()
}, 2000)
</script>
</div>