<!--PC版畅言-->
<div class="container"><div id="<%- page.url || config.url %>"></div>
<script charset="utf-8" type="text/javascript" src="https://changyan.sohu.com/upload/changyan.js" ></script>
<script type="text/javascript">
window.changyan.api.config({
appid: 'cysqnjGqk',
conf: 'prod_023698c59c1b0d0e29687979a2d2e9a3'
});
</script>
</div>