<header>
    <div class="logo">
        <a href="<%- config.root %>"><i class="logo-icon fa <%- logoIcon ? logoIcon : theme.fa_logo %>" aria-hidden="true"></i>
        <% if(headerTitle) { %>
            <p id="main-title" class="title"><%- headerTitle %></p>
        <% } %>
        </a>
    </div>
</header>
<div class="page_list archive-container">
        
    <div class="archive-post" style="opacity: 1;">
        <a href="/guideToPython/">
            推荐书: Python开发最佳实践
        </a>
    </div>
    
</div>