<header>
    <div class="logo">
        <a href="<%- config.root %>"><i class="logo-icon fa <%- logoIcon ? logoIcon : theme.fa_logo %>" aria-hidden="true"></i>
        <% if(headerTitle) { %>
            <p id="main-title" class="title"><%- headerTitle %></p>
        <% } %>
        </a>
    </div>
</header>
<div class="page_list archive-container">
        
    <div class="archive-post" style="opacity: 1;">
        <a href="/2020/10/31/SPSS视频教程内容目录和跳转链接/">
            SPSS视频教程内容目录和跳转链接
        </a>
    </div>
    
</div>