<div class="navbar navbar-default navbar-fixed-top hidden-sm-down">
    <div class="container">
        <a class="navbar-brand" href="/">DataScience</a>
        <div class="collapse navbar-collapse show" id="nav-links">
        <ul class="navbar-nav">
            <a href="/tags/tensorflow教程/" class="btn navbar-btn col-sm-10 col-md-3">Tensorflow教程</a>
            <a href="/tags/python/" class="btn navbar-btn col-sm-10 col-md-3">Python教程</a>
        </ul></div>
        <a class="btn navbar-btn col-sm-5 col-md-1" data-toggle="collapse" id="toggle-nav" data-target="#nav-links">收起菜单</a>
    </div>
</div>


