<% item.tags.forEach(function(tag){ %>
<div class="related-posts">
    <h3>
        <a href="<%- config.root + tag.path %>">
            <%= tag.name %>
        </a>
    </h3>
    <div class="page_list">
        <% tag.posts.sort('date', -1).limit(15).each(function(post){ %>
            <div class="archive-post">
                <a href="<%- url_for(post.path) %>">
                    <%= post.title %>
                </a>
            </div>
            <% }) %>
    </div>
</div>
<% }) %>

<div class="related-posts hidden-sm-down">
    <h3>
        <a href="#">
            友商赞助
        </a>
    </h3>
    <div class="page_list">
        <div class="archive-post">
            <a href="https://ojbk.cn">
                 数据分析论坛OJBK
            </a>
        </div>
    </div>
</div>