<% item.tags.forEach(function(tag){ %>
<div class="related-posts">
    <h3>
        常用工具
    </h3>
    <div class="page_list">
        <div class="archive-post">
            <a href="/drawio/">绘图软件</a>
        </div>
        <div class="archive-post">
            <a href="/2018/09/26/在线绘制中介效应图/">
                在线绘制中介效应图
            </a>
        </div>
        <div class="archive-post">
            <a href="/neural/">神经网络可视化</a>
        </div>
        <div class="archive-post">
            <a href="/psychopy/">psychopy教程</a>
        </div>
        <div class="archive-post">
            <a href="/vector/">[词向量]高维向量可视化</a>
        </div>
        <div class="archive-post">
            <a href="/demos/evolutionSimulator/">[tensorflow.js案例]进化算法演示</a>
        </div>
        <div class="archive-post">
            <a href="/guideToPython/">[书]Python最佳实践</a>
        </div>
        <div class="archive-post">
            <a href="/2017/10/10/sobel检验原理和一键计算器/">Sobel检验计算器</a>
        </div>
        <div class="archive-post">
            <a href="/2019/09/06/spss计算平均方差提取量AVE和组合信度CR的方法/">平均方差提取量AVE和组合信度CR计算器</a>
        </div>
        <div class="archive-post">
            <a href="/2017/12/12/JavaScript做的表格卡方检验-一键在线测试/">卡方检验计算器</a>
        </div>
        <div class="archive-post">
            <a href="/2020/03/22/SPSS做简单调节效应分析Model-1-Of-Process/">简单交互效应可视化工具</a>
        </div>
    </div>
</div>
<div class="related-posts">
    <div class="archive-post">
        <a href="#">Python数据科学技术交流QQ群:116384132</a>
    </div>
    <div class="archive-post">
        <a href="#">SPSS/Stata统计分析QQ群:572803384</a>
    </div>
    <div class="archive-post">
        <a href="#">如果你有其他有价值的群,想放到这里分享,可以联系我QQ675495787</a>
    </div>
</div>
<div class="related-posts">
    <h3>
        <a href="<%- config.root + tag.path %>">
            <%= tag.name %>
        </a>
    </h3>
    <div class="page_list">
        <% tag.posts.sort('date', -1).limit(15).each(function(post){ %>
            <div class="archive-post">
                <a href="<%- url_for(post.path) %>">
                    <%= post.title %>
                </a>
            </div>
            <% }) %>
    </div>
</div>
<% }) %>

<div class="related-posts hidden-sm-down">
    <h3>
        <a href="#">
            友商赞助
        </a>
    </h3>
    <div class="page_list">
        <div class="archive-post">
            <a href="http://jupyter.cn">
                  问卷大全问卷案例下载
            </a>
            <a href="http://mlln.cn/2019/05/09/2019%E5%B9%B4%E5%A4%A7%E5%AD%A6%E7%94%9F%E9%97%AE%E5%8D%B7%E4%BA%92%E5%A1%AB%E7%BE%A4%E6%8E%A8%E8%8D%90/">
                大学生互填问卷群推荐
            </a>
        </div>
    </div>
</div>